.panel-group .panel-heading{
    border-radius: 4px !important;
    padding: 0px !important;
}
.panel-group .panel-heading a{
    display: block;
    padding: 10px 15px !important;
}

.list-group-item{
    background-color: transparent !important;
    padding: 0px !important;
}
.list-group-item a{
    padding: 5px 15px !important;
    display: block;
}
.panel-title a.collapse-toggle:visited,
.panel-title a.collapse-toggle:hover,
.panel-title a.collapse-toggle:focus
{
    text-decoration: none !important;
}